<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<base target="_top">
<title>Demo WEB Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Demo APL">
</head>

<body>

<div id="container">
<div id="contents">
<section id="category">

<h2>プロレスから学ぶ人生の教訓シリーズ</h2>
  <div class="list">
    <h4>プロレスから学ぶ人生の教訓シリーズ③</h4>
    <p>変化は緩やかに - WWE/Shinsuke Nakamuraから学ぶ -</p>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR6oCq-pr-Us-VJPQp1x4dosyHEXeX68kzlaQ450ffMTzrJ1xA9QecqAqqwG8mJurRJiN2uJLEHUuD6/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  <div class="list">
    <h4>プロレスから学ぶ人生の教訓シリーズ②</h4>
    <p>変化に対応できる者が生き残る - 新日本プロレス/EVILから学ぶ -</p>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQsZNEXlHhv7-1teGRCKKmABUZktzoPhn2YovatnH51wYAt_CQhI6JItuzbUFEG3xy7K6_9sCxyfvGO/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  <div class="list">
    <h4>プロレスから学ぶ人生の教訓シリーズ①</h4>
    <p>諦めなければいつかチャンスは来る - 新日本プロレス/内藤哲也から学ぶ -</p>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQqOzyhkP9k3JRLUPQ0-SqSYlEKqfxjV9HJaxALzFYl-24yYaJhCu22o1CaCpQamVQ9xQzZKGLYYmqG/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>

</section>
<!--/#category-->

</div>
<!--/#contents-->

</div>
<!--/#container-->

<footer>
</footer>

<!--CSSファイルの読み込み-->
<link href="/static/css/main.css" rel="stylesheet">

<!--jQueryファイルの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>
